video-player-container {
  width: 100%;
  height: 700px;
  background-color: red;
  display: inline-block;
}

video-player {
  width: 40%;
  height: auto;
  aspect-ratio: 16/9;
  display: inline-block;
  background-color: black;
}

body, html {
  margin: 0;
  width: 100%;
  height: 100%;
}

.background {
  width: 25%;
  height: auto;
  aspect-ratio: 16/9;
  display: inline-block;
  background-color: green;
}

button {
  margin-top: 5px;
}

.video {
  width: 75%;
  margin-top: 5px;
}

.chat {
  width: 24%;
  height: 700px;
  background-color: blue;
  float: right;
  position: relative;
  margin-top: 5px;
}

#chatInput {
  display: inline-block;
  bottom: 0;
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 30px;
}

#btnEnviar {
  display: inline-block;
  bottom: 0;
  position: absolute;
  bottom: 0;
  width: 18%;
  height: 36px;
  right: 0;
}

div {
  display: inline-block;
}

.messages {
  width: 100%;
  height: 664px;
  background-color: rgb(65, 134, 111);
}

.messages .sentMessage {
  font-size: 20px;
  margin-left: 5px;
  margin-top: 5px;
  display: block;
}

.messages .senderName {
  font-size: 15px;
  margin-left: 5px;
  margin-top: 5px;
  display: block;
  font-weight: bold;
}

#modal {
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.425);
  margin: 0;
  /* display: flex; */
  display: none;
}

.modalMsg {
  background-color: white;
  /* display: block; */
  margin: auto;
  width: 500px;
  height: 300px;
  display: flex;
}

.modalMsg p {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 20px;
}